 .swordpoint-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0);
}

.swordpoint-inactive {
    pointer-events: none;
}

.swordpoint-overlay .tl-container {
    --color-background: rgba(255, 255, 255, 0);
}

.swordpoint-overlay .tl-canvas, .swordpoint-overlay .tl-container > img {
    width: calc(var(--slide-width) * var(--slide-scale)) !important;
    height: calc(var(--slide-height) * var(--slide-scale)) !important;

    position: absolute;
    top: calc((100vh - var(--slide-height) * var(--slide-scale)) / 2);
    left: calc((100vw - var(--slide-width) * var(--slide-scale)) / 2);
    margin: 0;
}